.docLists h2 {
  text-align: center;
  margin: 20px;
}
.docLists li{
  list-style: none;
  text-align: center;
  margin: 15px;
}

.user{
  text-align: center;
}

/* header */
.navigation  {
/* background-color: #96b97d;*/
/* background-color: #f77b6f;*/
  background-color: #d33e37;
}
.navigation a {
 color: #fff;
 text-decoration: none;
}
.navbar-left  a {
 margin: 0 15px; 
}
.navbar-right a {
  margin: 0 5px;
}
.navbar-right {
  margin-left: 10px; 
}
.navbar-left .navbar-nav {
  padding-left: 0;
}

.navbar-right .navbar-nav {
  padding: 0;
  padding-right: 20px;  
}

#main-content {
  padding:12px 0; 
}

ul li {
  list-style: none;
}

header li{
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  display: inline-block;
}

h1, .h1 {
    font-size: 2.568rem;
}

/* Pricing */
/*Pricing table and price blocks*/
.pricing_table {
  line-height: 150%;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}
.pricing_table .footer {
  padding: 15px;
  background: #dbdbdb;
  border-radius: 0 0 4px 4px;
}
.price_block {
  text-align: center;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.25s;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  padding-left: 0px;
  /* padding-right: 0px; */

}
.price_block_static {
  text-align: center;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.25s;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
/*Price heads*/
.pricing_table h3 {
  text-transform: uppercase;
  padding: 5px 0;
  background: #555555;
  margin: 0;
  border-radius: 4px 4px 0 0;
}
/*Price tags*/
.price {
  display: table;
  background: #898989;
  width: 100%;
  height: 70px;
}
.price_figure {
  font-size: 24px;
  text-transform: uppercase;
  vertical-align: middle;
  display: table-cell;
}
.price_number {
  font-weight: 600;
  display: block;
}
.price_tenure {
  font-size: 11px;
}
/*Features*/
.features {
  background: #e6e6e6;
  color: #555555;
  padding: 0;
}
.features li {
  padding: 8px 15px;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
  list-style-type: none;
}
.price_block_static:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
  transform: scale(1.04) translateY(-5px);
  -webkit-transform: scale(1.04) translateY(-5px);
  z-index: 10;
  border-bottom: 0 none;
}
.price_block_static.active:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
  transform: scale(1.12) translateY(-5px);
  -webkit-transform: scale(1.12) translateY(-5px);
  z-index: 10;
  border-bottom: 0 none;
}
.price_block_static.active {
/*
  -webkit-transform: scale(1.09) translateY(-5px);
  transform: scale(1.09) translateY(-5px);
*/
  -webkit-transform: scale(1.09);
  transform: scale(1.09);  
  z-index: 1;
  border-bottom: 0 none;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.3);
}
.price_block:hover .price.orange {
  background: #f0ad4e;
}
.price_block:hover .price.green {
  background: #a8bc7b;
}
.price_block_static.active .price {
  background: #d9534f;
}
.price_block:hover h3 {
  background: #3b3b3b;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* .price_block:nth-child(odd) {border-right: 5px solid transparent;} */
  .price_block:nth-child(3) {
    clear: both;
  }
  .price_block:nth-child(odd):hover {
    border: 0 none;
  }
}
@media only screen and (min-width: 768px) {
  /* .price_block {border-right: 5px solid transparent; border-bottom: 0 none;} */
  .price_block:last-child {
    border-right: 0 none;
  }
  .price_block:hover {
    border: 0 none;
  }
}

ul.pricing_table li {
 cursor: pointer;
 margin-bottom: 20px !important;
}
.o-menu-list {
 margin-top: 20px; 
}
