.docLists h2 {
  text-align: center;
  margin: 20px;
}
.docLists li{
  list-style: none;
  text-align: center;
  margin: 15px;
}

.user{
  text-align: center;
}

/* header */
.navigation  {
/* background-color: #96b97d;*/
/* background-color: #f77b6f;*/
  background-color: #d33e37;
}
.navigation a {
 color: #fff;
 text-decoration: none;
}
.navbar-left  a {
 margin: 0 15px; 
}
.navbar-right a {
  margin: 0 5px;
}
.navbar-right {
  margin-left: 10px; 
}
.navbar-left .navbar-nav {
  padding-left: 0;
}

.navbar-right .navbar-nav {
  padding: 0;
  padding-right: 20px;  
}

#main-content {
  padding:12px 0; 
}

ul li {
  list-style: none;
}

header li{
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
}
header li.uCenter {
  margin-right: 20px; 
}

header .navbar-left {
   float: left !important;
}
header .navbar-right {
   text-align: right;
   float: right !important;
}


h1, .h1 {
    font-size: 2.568rem;
}

/* Pricing */
/*Pricing table and price blocks*/
.pricing_table {
  line-height: 150%;
  margin: 0 auto;
  width: 100%;
/*  padding-top: 10px;*/
  padding: 0;
}
.pricing_table .footer {
  padding: 15px;
  background: #dbdbdb;
  border-radius: 0 0 4px 4px;
}
.price_block {
  text-align: center;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.25s;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  padding-left: 0px;
  /* padding-right: 0px; */

}
.price_block_static {
  text-align: center;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.25s;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
/*Price heads*/
.pricing_table h3 {
  text-transform: uppercase;
  padding: 5px 0;
  background: #555555;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

.price_block_static:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
  transform: scale(1.04) translateY(-5px);
  -webkit-transform: scale(1.04) translateY(-5px);
  z-index: 10;
  border-bottom: 0 none;
}
.price_block_static.active:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
  transform: scale(1.12) translateY(-5px);
  -webkit-transform: scale(1.12) translateY(-5px);
  z-index: 10;
  border-bottom: 0 none;
}
.price_block_static.active {
/*
  -webkit-transform: scale(1.09) translateY(-5px);
  transform: scale(1.09) translateY(-5px);
*/
  -webkit-transform: scale(1.09);
  transform: scale(1.09);  
  z-index: 1;
  border-bottom: 0 none;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.3);
}

.price_block:hover h3 {
  background: #3b3b3b;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* .price_block:nth-child(odd) {border-right: 5px solid transparent;} */
  .price_block:nth-child(3) {
    clear: both;
  }
  .price_block:nth-child(odd):hover {
    border: 0 none;
  }

}
@media only screen and (min-width: 768px) {
  /* .price_block {border-right: 5px solid transparent; border-bottom: 0 none;} */
  .price_block:last-child {
    border-right: 0 none;
  }
  .price_block:hover {
    border: 0 none;
  }
}

ul.pricing_table li {
 cursor: pointer;
 margin-bottom: 20px !important;
}
.o-menu-list {
 margin-top: 10px;  
}
header.navigation {
  position: relative;
  z-index: 200;
}
table.dataTable.no-footer {
  border-collapse: collapse;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 6px !important;
    border: 1px solid #ddd;
    border-top: 1px solid #111 !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 6px !important;
    border: solid 1px #ddd;
}

table.dataTable tbody th, table.dataTable tbody td {
    vertical-align: middle;
}

table.dataTable .btn {
    padding: 6px;
    display: inline-block;
    margin:4px 2px;
}
.list-group-horizonal {
    display: inline-block;
}
.list-group-horizonal .list-group-item {
   float: left;
   margin-bottom: 0;
   margin-right: -1px;
}
.list-group-horizonal .box>.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
}
.list-group-horizonal .box>.list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
}
.o-group {
  margin-bottom: 15px;
  /*text-align: center;*/
}

.list-group-item .btn-primary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;  
}
.list-group-item .btn-primary:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn,.btn:focus {
   outline: 0;
   box-shadow: none; 
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0; 
}
.bigintro {
  margin-bottom: 20px;
}
.login-helpers {
  margin-top: 15px; 
}

.main_table .img-responsive {
  margin: 0 auto;
  text-align: center;
  line-height: 0;
}
.main_table .icon-logo {
  max-width: 68%;
}
.main_table .yiqicha {
  max-width: 58%;
}
.main_table .yiqicha img {
    margin-top: 80px;
    border-top: solid 1px #ccc;
    padding-top: 20px;
    margin-bottom: 20px;
}
.img-responsive img {
  max-width: 100% !important; 
}
.img-responsive a {
  display: inline-block;
}
.main_table .btn-kyl {
  padding:  10px 40px
}
.btn-kyl {
    color: #fff;
    background-color: #ff7f56;
}
.btn-kyl:hover {
   color: #fff; 
}

.copyright {
 margin-top: 80px;
 height: 48px;
 line-height: 48px;
 vertical-align: middle;
 color: #555555;
}

.copyright img {
 height: 48px;
 width: auto;
/* margin-right: 20px;  */
}
@media screen and (max-width: 800px) {
  header li{
    height: 48px;
    line-height: 48px;
    font-size: 18px;
  }
  
  header li.uCenter {
    margin-right: 15px; 
  }
  
  .main_table .yiqicha img {
    margin-top: 32px;  
  }
  .copyright {
   margin-top: 48px;
  }  
  .pricing_table .footer {
      padding: 10px;
  }     
}

@media screen and (max-width: 640px) {
  header li{
    height: 24px;
    line-height: 24px;
    font-size: 18px;    
  }
  header li.uCenter {
    margin-right: 10px; 
  }  
  
  .main_table .yiqicha img {
    margin-top: 10px;  
  }  
  .copyright {
   margin-top: 30px;
  }    
  .pricing_table .footer {
      padding: 8px;
  }    
  h3 {
   font-size: 20px; 
  }
}

.main_table {
  padding-bottom: 10px; 
}